@font-face {
  font-family: quicksand;
  src: url(assets/fonts/quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: quicksandSemiBold;
  src: url(assets/fonts/quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: quicksandSemiBold;
  src: url(assets/fonts/quicksand/Quicksand-Bold.ttf);
}