@font-face {
  font-family: quicksand;
  src: url(assets/fonts/quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: quicksandSemiBold;
  src: url(assets/fonts/quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: quicksandBold;
  src: url(assets/fonts/quicksand/Quicksand-Bold.ttf);
}

@font-face {
  font-family: worksans;
  src: url(assets/fonts/worksans/WorkSans-Regular.ttf);
}

@font-face {
  font-family: worksansBold;
  src: url(assets/fonts/worksans/WorkSans-Bold.ttf);
}