<form class="login-form-container" [formGroup]="form">
  <img alt="epic-quest-logo" src="assets/images/epicquest.png" />
  <div class="login-form">
    <p>Enviaremos um link para redefinição da sua 
      senha para o e-mail fornecido.</p>
    <div class="field">
      <label for="username">E-mail</label>
      <input class="input" placeholder="digite seu email cadastrado" id="email" formControlName="email">
    </div>
    <div class="login-form-actions">
      <button class="button--link" [routerLink]="['/auth/login/']">Voltar para login</button>
      <button class="button--primary">Enviar</button>
    </div>
  </div>
</form>