<form class="auth-form-container" [formGroup]="form">
  <div class="register-form-header">
    <h3>Criar uma nova conta</h3>
  </div>
  <div class="auth-form">
    <div class="field" [ngClass]="{'error': form.get('fullName').errors && form.get('fullName').touched}">
      <label for="fullName">Nome Completo</label>
      <input class="input" placeholder="seu nome completo" id="fullName" formControlName="fullName">
      <div *ngIf="form.get('fullName').errors && form.get('fullName').errors.required">
        <small>campo obrigatório.</small>
      </div>
    </div>
    <div class="field" [ngClass]="{'error': form.get('email').errors && form.get('email').touched}">
      <label for="email">E-mail</label>
      <input class="input" placeholder="seu email" id="email" formControlName="email">
      <div *ngIf="form.get('email').errors && form.get('email').errors.required">
        <small>campo obrigatório.</small>
      </div>
      <div *ngIf="form.get('email').errors && form.get('email').errors.email">
        <small>email inválido.</small>
      </div>
    </div>
    <div class="field" [ngClass]="{'error': form.get('userName').errors && form.get('userName').touched}">
      <label for="userName">Nome de Usuário</label>
      <input class="input" placeholder="seu nome de usuário (nick)" id="userName" formControlName="userName">
      <div *ngIf="form.get('userName').errors && form.get('userName').errors.required">
        <small>campo obrigatório.</small>
      </div>
    </div>
    <div class="field" [ngClass]="{'error': form.get('description').errors && form.get('description').touched}">
      <label for="description">Descrição</label>
      <input class="input" placeholder="fale um pouco sobre você" id="description" formControlName="description">
      <div *ngIf="form.get('description').errors && form.get('description').errors.required">
        <small>campo obrigatório.</small>
      </div>
    </div>
    <div class="field" [ngClass]="{'error': form.get('photoUrl').errors && form.get('photoUrl').touched}">
      <label for="photoUrl">Foto</label>
      <input class="input" placeholder="url da foto" id="photoUrl" formControlName="photoUrl">
    </div>
    <div class="field" [ngClass]="{'error': form.get('password').errors && form.get('password').touched}">
      <label for="password">Senha</label>
      <input class="input" placeholder="digite sua senha" type="password" id="password" formControlName="password">
      <div *ngIf="form.get('password').errors && form.get('password').errors.required">
        <small>campo obrigatório.</small>
      </div>
    </div>
    <div class="field" [ngClass]="{'error': form.get('confirmPassword').errors && form.get('confirmPassword').touched}">
      <label for="confirmPassword">Confirmar Senha</label>
      <input class="input" placeholder="confirme sua senha" type="password" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="form.get('confirmPassword').errors && form.get('confirmPassword').errors.required">
        <small>campo obrigatório.</small>
      </div>
      <div *ngIf="form.get('confirmPassword').errors && form.get('confirmPassword').errors.isMatching">
        <small>as senhas devem coincidir.</small>
      </div>
    </div>
    <div class="auth-form-actions">
      <button class="button--link" [routerLink]="['/auth/login/']">Já é cadastrado?</button>
      <button class="button--primary" [disabled]="form.invalid || form.pristine" (click)="salvarUsuario()">Registrar</button>
    </div>
  </div>
</form>