@import 'styles/normalize.css';
@import 'styles/typography.scss';
@import 'styles/theme.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";

$primary: #f0871c;
$error: #e53935;

html, body {
  font-family: quicksand;
  font-size: 14px;
}

@import 'app/shared/shared.scss';
@import 'app/authentication/authentication.scss';

// ngx-chips
tag-input {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: quicksand;
  &:hover, &:focus, &:focus-within {
    border-color: #2d4b8b;
  }

  input {
    background-color: transparent;
    &::placeholder {
      color: gray;
      font-family: quicksand;
    }
  }
  .ng2-tag-input.ng2-tag-input--focused {
    border-color: transparent !important;
  }
}


// LOADING
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 0px;
  background-color: #00000040;
  transition: all 0.8s;
  overflow:hidden;

  svg{
    transform: scale(0.5);
  }
}


@keyframes spin {
  to { transform: rotate(360deg);}
}

.loader{
  background-color: #00000040;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: $primary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.2s linear infinite;
}

// loading bar
.progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  display: block;
  width: 100%;
  background-color: lighten($primary, 30%);
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0;
  overflow: hidden;
  z-index: 999;
}
  .progress .indeterminate {
    background-color: $primary; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }