@import 'styles/normalize.css';
@import 'styles/typography.scss';
@import 'styles/theme.scss';

$primary: #f0871c;
$error: #e53935;

html, body {
  font-family: quicksand;
  font-size: 14px;
}

@import 'app/shared/shared.scss';
@import 'app/authentication/authentication.scss';