.login-container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-header {
  &-logo {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  &-title {
    text-align: center;
    position: relative;
    &:after{
      content: "";
      background-image: url("../../assets/sword.svg");
      background-size: contain;
      background-repeat: no-repeat;
      left: 20px;
      position: absolute;
      height: 100%;
      width: 30px;
      transform: rotate(225deg);

    }
    &:before{
      content: "lalalala";
    }

  }
}
