<div class="login-container">

  <div class="login-header">
    <img class="login-header-logo" src="../../assets/epicquest.png" alt="logo"/>
    <h1 class="login-header-title"> Login </h1>
  </div>

  <div class="login-body">
    <form>
      <label for="email">E-mail</label>
      <input type="email" id="email"/>

      <label for="password">Senha</label>
      <input type="password" id="password"/>

      <div class="login-body-actions">
      <button>Cadastrar</button>
      <button type="submit">Entrar</button>
      </div>
    </form>
  </div>
</div>
